<!DOCTYPE html>
<html>
  <head>
    <title>Coding Interview</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Coding Interview</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#">List</a></li>
              <li><a href="#">User Info</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row-fluid">
        <div class="span9">
          <h3>Question</h3>
          <div class="well">
            <h4><%=title %></h4>
            <script>document.write(decodeURIComponent("<%=content %>"));</script>
          </div>
          <h3>Answer</h3>
          <div id="editor">function foo(items) {
  var x = "All this is syntax highlighted";
  return x;
}</div>
          <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
          </script>
        </div>
        <div class="span3">
          <h3>Chat</h3>
          <div class="well" style="height:670px;">
            <div class="span2">
              <!--Sidebar content-->
            </div>
            <div class="span8">
              <!--Body content-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>