@import "elements.less";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  padding-top:25px;
}

.summernote.well {
  margin-bottom:0px;
  height:150px;
  overflow-y:auto;
}

.question-btn-area {
  margin-top:5px;
  button {
    float:right;
  }
}

#editor {
  width:100%;
  height:400px;
}

#memo-area {
  height:400px;
  overflow-y:auto;
  position:relative;
  .memo-layer{
    .box-sizing();
    left:20px;
    position:absolute;
    width:190px;
    padding:3px;
    background-color:#888;
    .memo-content {
      .box-sizing();
      background-color: #fff;
      padding:5px;
    }
    &:before {
      position:absolute;
      border-color: #888 #888 transparent transparent;
      border-style:solid;
      border-width:10px;
      width:0;
      height:0;
      top:-5px;
      left:-20px;
      content:' ';
    }
  }
}

#chat-layer {
  .box-sizing();
  position:fixed;
  right:10px;
  bottom:10px;
  height:360px;
  width:250px;
  border:1px solid #555;
  background-color:#fff;
  #chat-bar {
    width:100%;
    background-color: #eeefd3;
    height:30px;
    position:relative;
    .chat-user-list {
      .box-sizing();
      padding-left:5px;
      width:230px;
      height:30px;
      line-height:29px;
    }

    >i {
      cursor:pointer;
      position:absolute;
      right:5px;
      top:8px;
    }

    &.blink {
      background-color: #c8dff9;
    }
  }

  #chat-area {
    .box-sizing();
    height:295px;
    width:248px;
    padding:5px;
    background-color:#fff;
    overflow-y:auto;
  }

  #chat {
    margin-left:5px;
    width:225px;
  }

  &.collapsed {
    cursor:pointer;
    height:32px;
    #chat-area, #chat, i {
      display:none;
    }
  }
}

select {
  width:150px;
}

.range-link {
  color:#0000ed;
  cursor:pointer;
}