body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editor {
  width:100%;
  height:400px;
}

#container {
  padding-top:25px;
}

.summernote.well {
  margin-bottom:0px;
  height:150px;
  overflow-y:auto;
}

.question-btn-area {
  margin-top:5px;
  button {
    float:right;
  }
}

#chat-area {
  height:400px;
  background-color:#fff;
  overflow-y:auto;
}