@import "elements.less";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  padding-top:25px;
}

.summernote.well {
  margin-bottom:0px;
  height:150px;
  overflow-y:auto;
}

.question-btn-area {
  margin-top:5px;
  button {
    float:right;
  }
}
#code-area {
  #editor {
    width:100%;
    height:400px;
  }
}

#memo-area {
  width:229px;
  height:400px;
  margin-left:0px;
  overflow-y:auto;
  position:relative;
  #memo-layer-area {
    position:absolute;
    top:0px;
    left:0px;
    .memo-layer {
      .box-sizing();
      width:200px;
      position:absolute;
      left:5px;
      top:0px;
      .memo-icon {
        position:absolute;
        width:13px;
        height:13px;
        background-color:#ccc;
        color:#fff;
        text-align:center;
        font-size:10px;
        .rounded(3px);
        cursor:pointer;

        &:after {
          position:absolute;
          border-color: #ccc transparent transparent #ccc;
          border-style:solid;
          border-width:3px;
          cursor:pointer;
          width:0;
          height:0;
          top:11px;
          left:3px;
          content:' ';
        }
      }

      &[data-count^="0"] .memo-icon {
        background-color : transparent;
        span {
          display:none;
        }

        &:after{
          cursor:default;
          border-color: transparent;
        }
      }

      &.select .memo-icon {
        background-color : #ccc;

        span {
          display:inline;
        }

        &:after{
          border-color: #ccc transparent transparent #ccc;
        }
      }

      &.select.expand .memo-icon{
        background-color : #0000ed;

        span {
          display:inline;
        }

        &:after{
          border-color: #0000ed transparent transparent #0000ed;
        }
      }

      .memo-icon {
        &:hover, {
          background-color : #0000ed;
          span {
            display:inline;
          }
        }

        &:hover:after {
          border-color: #0000ed transparent transparent #0000ed;
        }
      }

      .memo-content-list {
        width:200px;
        position:absolute;
        left:20px;
        top:0px;
        background-color: #888;
        display:none;
        .box-sizing();
        .rounded(3px);
        padding-bottom:5px;

        i {
          cursor:pointer;
          margin-top:2px;
          float:right;
        }

        .memo-edit-btn-area {
          width:100%;
          height:15px;

          .memo-edit-btn {
            margin-right:5px;
          }
        }

        .memo-add-btn-area {
          width:100%;
          i {
            margin-right:5px;
            color:#fff;
          }
        }

        .memo-add {
          width:190px;
          display:none;
          margin:5px 5px 0px 5px;
          textarea {
            width:175px;
            height:40px;
            margin-bottom:0px;
          }
        }

        .memo-content {
          width:190px;
          .box-sizing();
          background-color: #eee;
          padding:5px;
          margin:5px 5px 0px 5px;
          .rounded(3px);
          .memo-add {
            display:block;
            width:180px;
            margin:0px;
            textarea {
              width:165px;
            }

            .memo-add-btn-area {
              height:15px;
              i {
                color: #555;
              }
            }
          }
          &.edit .content, &.edit .memo-edit-btn-area {
            display:none;
          }
        }
      }
      &.insert .memo-add-btn {
        display:none;
      }

      &.insert .memo-add, &.select.expand .memo-content-list, &.select .memo-content-list:before {
        display:block;
      }
    }
  }
}

.row-fluid [class*="span"].memo-block {
  display:none;
}

#range-info {
  display:inline-block;
  margin-right:5px;
}

#select-lang {
  margin-left:357px;
}



#finish-coding-btn, #finish-interview-btn {
  margin:0 auto;
  display:none;
}

.applicant #finish-coding-btn {
  display:block;
}

.estimation {
  [class*="span"].memo-block {
    display:block;
  }

  #select-lang {
    margin-left:127px;
  }

  #finish-coding-btn {
    display:none;
  }

  &.admin #finish-interview-btn {
    display:block;
  }
}

#chat-layer {
  z-index:1;
  .box-sizing();
  position:fixed;
  right:10px;
  bottom:10px;
  height:360px;
  width:250px;
  border:1px solid #555;
  background-color:#fff;
  .rounded(3px);
  #chat-bar {
    width:100%;
    background-color: #eeefd3;
    height:30px;
    position:relative;
    .chat-user-list {
      .box-sizing();
      padding-left:5px;
      width:230px;
      height:30px;
      line-height:29px;
    }

    >i {
      cursor:pointer;
      position:absolute;
      right:5px;
      top:8px;
    }

    &.blink {
      background-color: #c8dff9;
    }
  }

  #chat-area {
    .box-sizing();
    height:295px;
    width:248px;
    padding:5px;
    background-color:#fff;
    overflow-y:auto;
  }

  #chat {
    margin-left:5px;
    width:225px;
  }

  &.collapsed {
    cursor:pointer;
    height:32px;
    #chat-area, #chat, i {
      display:none;
    }
  }
}

select {
  width:150px;
}

.range-link {
  color:#0000ed;
  cursor:pointer;
}