/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#container {
  padding-top: 25px;
}
.summernote.well {
  margin-bottom: 0px;
  height: 150px;
  overflow-y: auto;
}
.question-btn-area {
  margin-top: 5px;
}
.question-btn-area button {
  float: right;
}
#code-area #editor {
  width: 100%;
  height: 400px;
}
#memo-area {
  width: 229px;
  height: 400px;
  margin-left: 0px;
  overflow-y: auto;
  position: relative;
}
#memo-area #memo-layer-area {
  position: absolute;
  top: 0px;
  left: 0px;
}
#memo-area #memo-layer-area .memo-layer {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  position: absolute;
  left: 5px;
  top: 0px;
}
#memo-area #memo-layer-area .memo-layer .memo-icon {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  font-size: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
#memo-area #memo-layer-area .memo-layer .memo-icon:after {
  position: absolute;
  border-color: #ccc transparent transparent #ccc;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  width: 0;
  height: 0;
  top: 11px;
  left: 3px;
  content: ' ';
}
#memo-area #memo-layer-area .memo-layer[data-count^="0"] .memo-icon {
  background-color: transparent;
}
#memo-area #memo-layer-area .memo-layer[data-count^="0"] .memo-icon span {
  display: none;
}
#memo-area #memo-layer-area .memo-layer[data-count^="0"] .memo-icon:after {
  cursor: default;
  border-color: transparent;
}
#memo-area #memo-layer-area .memo-layer.select .memo-icon {
  background-color: #ccc;
}
#memo-area #memo-layer-area .memo-layer.select .memo-icon span {
  display: inline;
}
#memo-area #memo-layer-area .memo-layer.select .memo-icon:after {
  border-color: #ccc transparent transparent #ccc;
}
#memo-area #memo-layer-area .memo-layer.select.expand .memo-icon {
  background-color: #0000ed;
}
#memo-area #memo-layer-area .memo-layer.select.expand .memo-icon span {
  display: inline;
}
#memo-area #memo-layer-area .memo-layer.select.expand .memo-icon:after {
  border-color: #0000ed transparent transparent #0000ed;
}
#memo-area #memo-layer-area .memo-layer .memo-icon:hover {
  background-color: #0000ed;
}
#memo-area #memo-layer-area .memo-layer .memo-icon:hover span {
  display: inline;
}
#memo-area #memo-layer-area .memo-layer .memo-icon:hover:after {
  border-color: #0000ed transparent transparent #0000ed;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list {
  width: 200px;
  position: absolute;
  left: 20px;
  top: 0px;
  background-color: #888;
  display: none;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-bottom: 5px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list i {
  cursor: pointer;
  margin-top: 2px;
  float: right;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-edit-btn-area {
  width: 100%;
  height: 15px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-edit-btn-area .memo-edit-btn {
  margin-right: 5px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-add-btn-area {
  width: 100%;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-add-btn-area i {
  margin-right: 5px;
  color: #fff;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-add {
  width: 190px;
  display: none;
  margin: 5px 5px 0px 5px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-add textarea {
  width: 175px;
  height: 40px;
  margin-bottom: 0px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-content {
  width: 190px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee;
  padding: 5px;
  margin: 5px 5px 0px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-content .memo-add {
  display: block;
  width: 180px;
  margin: 0px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-content .memo-add textarea {
  width: 165px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-content .memo-add .memo-add-btn-area {
  height: 15px;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-content .memo-add .memo-add-btn-area i {
  color: #555;
}
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-content.edit .content,
#memo-area #memo-layer-area .memo-layer .memo-content-list .memo-content.edit .memo-edit-btn-area {
  display: none;
}
#memo-area #memo-layer-area .memo-layer.insert .memo-add-btn {
  display: none;
}
#memo-area #memo-layer-area .memo-layer.insert .memo-add,
#memo-area #memo-layer-area .memo-layer.select.expand .memo-content-list,
#memo-area #memo-layer-area .memo-layer.select .memo-content-list:before {
  display: block;
}
.row-fluid [class*="span"].memo-block {
  display: none;
}
#range-info {
  display: inline-block;
  margin-right: 5px;
}
#select-lang {
  margin-left: 357px;
}
#finish-coding-btn,
#finish-interview-btn {
  margin: 0 auto;
  display: none;
}
.applicant #finish-coding-btn {
  display: block;
}
.estimation [class*="span"].memo-block {
  display: block;
}
.estimation #select-lang {
  margin-left: 127px;
}
.estimation #finish-coding-btn {
  display: none;
}
.estimation.admin #finish-interview-btn {
  display: block;
}
#chat-layer {
  z-index: 1;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 360px;
  width: 250px;
  border: 1px solid #555;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#chat-layer #chat-bar {
  width: 100%;
  background-color: #eeefd3;
  height: 30px;
  position: relative;
}
#chat-layer #chat-bar .chat-user-list {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  width: 230px;
  height: 30px;
  line-height: 29px;
}
#chat-layer #chat-bar > i {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 8px;
}
#chat-layer #chat-bar.blink {
  background-color: #c8dff9;
}
#chat-layer #chat-area {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 295px;
  width: 248px;
  padding: 5px;
  background-color: #fff;
  overflow-y: auto;
}
#chat-layer #chat {
  margin-left: 5px;
  width: 225px;
}
#chat-layer.collapsed {
  cursor: pointer;
  height: 32px;
}
#chat-layer.collapsed #chat-area,
#chat-layer.collapsed #chat,
#chat-layer.collapsed i {
  display: none;
}
select {
  width: 150px;
}
.range-link {
  color: #0000ed;
  cursor: pointer;
}
