  <link rel="stylesheet" type="text/css" href="/lib/summernote/summernote.css" />
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" />
  <div class="summernote well"><%= content %></div>
  <div class="question-btn-area" style="height:30px;">
    <button class="question-edit-btn btn">편집</button>
    <button class="question-save-btn btn">저장</button>
  </div>
  <div class="well" style="margin-top:10px;">
    <div class="row-fluid">
      <div class="span9">
        <div id="editor"><%= answer %></div>
      </div>
      <div class="span3">memo</div>
    </div>
    <div class="row-fluid" style="margin-top:10px;">
      <div class="span6">
        <select id="select-lang">
          <option value="c_cpp">C, C++</option>
          <option value="java">Java</option>
          <option value="javascript" selected>Javascript</option>
          <option value="python">Python</option>
          <option value="clojure">Clojure</option>
        </select>
        &nbsp;
        <select id="select-theme">
          <option value="monokai" selected>Monokai</option>
          <option value="eclipse">Eclipse</option>
          <option value="textmate">Textmate</option>
          <option value="xcode">X-Code</option>
          <option value="terminal">Terminal</option>
          <option value="twilight">Twilight</option>
        </select>
      </div>
      <div class="span3">
        <span id="range-info" style="display:inline-block;width:90px;margin-right:5px;text-align:right;"></span>
        <button id="memo-btn" class="btn btn-success btn-small">Memo</button>
        <button id="send-range-link" class="btn btn-info btn-small">Chat</button>
      </div>
      <div class="span3">

      </div>
    </div>
  </div>
  <div id="chat-layer">
    <div id="chat-bar">
      <div class="chat-user-list">Chat</div>
      <i id="chat-collapse" class="icon-minus"></i>
    </div>
    <div id="chat-area">
    </div>
    <input id="chat" type="text" class="input-small" />
  </div>
